---
import ContenedeorModal from "@/components/organismos/ContenedeorModal.astro";
import Button1 from "../../../components/atomos/Button1.astro";
import Titulo1 from "../../../components/atomos/Titulo1.astro";
import ContenedorBoton from "../../../components/moleculas/ContenedorBoton.astro";
import PrevisualizacionPrestamo from "./PrevisualizacionPrestamo";
import FormularioDeBusqueda from "../../../components/organismos/FormularioDeBusqueda";
import MainDash from "../../../components/organismos/MainDash.astro";
import Layoutdash from "../layouts/Layoutdash.astro";
import FormularioPrestamo from "./FormularioPrestamo.astro";
import PrestamoGenerado from "./PrestamoGenerado.astro";

import { clientes as Cliente } from "@/db/schema";
import db from "@/db";
import { eq } from "drizzle-orm";
const user = Astro.locals.user;
const clientes = await db
  .select()
  .from(Cliente)
  .where(eq(Cliente.usuarioId, user.id));
---

<Layoutdash title="Prestamos">
  <MainDash>
    <div class="flex w-full  p-5 flex-col min-h-[60vh] items-center justify-start">
      <div class="flex mb-2 items-center justify-between w-full gap-5">
        <Titulo1>Prestamos</Titulo1>
        <FormularioDeBusqueda clientes={clientes} client:load />
      </div>
      <div class="w-full flex items-start">
        <FormularioPrestamo />
      </div>
    </div>
    <div
      class="flex md:w-2/6 w-full flex-col h-full items-center justify-center"
    >
      <!-- previsualizacion a primera vista -->
      <div class="bg-primary-300/80 w-full m-auto py-3 px-5 rounded-l-lg">
        <Titulo1>Prestamo Generado</Titulo1>

        <PrestamoGenerado />

        <ContenedorBoton>
          <ContenedeorModal open="Previsualizar">
            <PrevisualizacionPrestamo client:load />
          </ContenedeorModal>
          <Button1 id="cargarPrestamo">Confirmar</Button1>
          <Button1 id="limpiarSimulador">limpiar</Button1>
        </ContenedorBoton>
      </div>
    </div>
  </MainDash>
</Layoutdash>

<script>
  import { busqueda, prestamoSimulado } from "../../../context/store";

  document.getElementById("limpiarSimulador").addEventListener("click", () => {
    prestamoSimulado.set({
      usuarioId: "",
      nombreCliente: "",
      clienteId: "",
      cuotas:[],
      interesGenerado: 0,
      tasaInteres: 0,
      nCuotas: 0,
      modalidad: "",
      fechaInicio: "",
    });
  });
</script>
<script>
  import { prestamoSimulado } from "@/context/store";
  import { loader } from "@/components/loader/showLoader";
  const formulario = document.getElementById(
    "prestamoGenerado"
  ) as HTMLFormElement;

  const formData = new FormData(formulario);
  document
    .getElementById("cargarPrestamo")
    .addEventListener("click", async (e) => {
      loader(true);
      e.preventDefault();
      const contextoPrestamo = prestamoSimulado.get();
      // console.log("contexto del prestamo a enviar", contextoPrestamo);
      try {
        const res = await fetch("/api/prestamos/setPrest", {
          method: "POST",
          body: JSON.stringify({
            contextoPrestamo,
          }),
        });
        const data = await res.json();
        // console.log(data)
        if (res.ok) {
          loader(false);

          document.location.href = `/dashboard/prestamos/${data.id}`;
        }
      } catch (error) {
        loader(false);
        console.log(error);
      }
    });
</script>
