---
import Titulo1 from "../../../components/atomo/Titulo1.astro";
import MainDash from "../../../components/organismos/MainDash.astro";
import Layoutdash from "../layouts/Layoutdash.astro";
import FormularioPrestamo from '../../../components/organismos/FormularioPrestamo.astro'

---
<Layoutdash title="Prestamos">

<MainDash>

    <div class=" flex w-full p-5 flex-col items-start justify-start">
        <Titulo1>Prestamos</Titulo1>
        <div class="w-full flex items-start">
            <FormularioPrestamo/>
            <div class="w-2/6">Muesta de numeros</div>
        </div>
    </div>
</MainDash>
</Layoutdash>