---
import ContenedorInputForm from "../../../components/moleculas/ContenedorInputForm.astro";
---

<form
  id="prestamoGenerado"
  class="flex flex-col items-start w-full justify-normal gap-2 border-y py-5"
>
  <ContenedorInputForm
    label="importe de cuota"
    type="text"
    name="montoCuota"
  />
  <ContenedorInputForm label="total a pagar" type="text" name="montoTotal" />
  <ContenedorInputForm
    label="Interes Generado"
    type="text"
    name="interesGenerado"
  />
  <ContenedorInputForm label="fecha" type="date" name="fechaInicio" />
</form>

<script src="./generadorPrestamo.js">

</script>
