---
import { db } from "astro:db";
import MainDash from "../../../../components/organismos/MainDash.astro";
import Layoutdash from "../../layouts/Layoutdash.astro";
import { Cliente } from "astro:db";
import { eq } from "astro:db";
import ContenedorDiv1 from "../../../../components/atomos/ContenedorDiv1.astro";
import Titulo1 from "../../../../components/atomos/Titulo1.astro";
import DatosPersonales from "./DatosPersonales";

const { idCliente } = Astro.params;

let clienteDB;
try {
  clienteDB = (
    await db.select().from(Cliente).where(eq(Cliente.id, idCliente))
  ).at(0);
  // console.log(clienteDB);
} catch (error) {
  console.log(error);
}
---

<Layoutdash title=`Cliente ${clienteDB?.nombre}` dataCliente={clienteDB}>
  <div id={'idCliente'} data-idClient={JSON.stringify(clienteDB)} hidden></div>
  <MainDash>
    <ContenedorDiv1>
      <Titulo1>Cliente - {clienteDB?.nombre+' '+clienteDB?.apellido}</Titulo1>
      <div class="flex w-full justify-normal items-stretch gap-5">

        <slot/>
      </div>
  
    </ContenedorDiv1>
  </MainDash>
</Layoutdash>
<script>
const dataSet = document.getElementById('idCliente').getAttribute('data-idClient')


import { clienteSelect } from "../../../../context/store";

  clienteSelect.set(JSON.parse(dataSet))
</script>
