---

import BotoneraFiltros from "../../prestamos/prestamos/BotoneraFiltros.astro";
import ConfeccionTablaPagos from "./tabla/ConfeccionTablaPagos.astro";
import LayoutClient from "./LayoutClient.astro";

const {idCliente}=Astro.params

---

<LayoutClient>
  
  <h2>pagos realizados</h2>
  <div class="w-full flex flex-col items-center gap-3">
    <BotoneraFiltros />
    <ConfeccionTablaPagos />
  </div>
</LayoutClient>
