---
import { db } from "astro:db";
import { Prestamo } from "astro:db";
import { eq } from "astro:db";
import ConfeccionTabla from "./tabla/ConfeccionTabla.astro";
import BotoneraFiltros from "../../prestamos/prestamos/BotoneraFiltros.astro";
import LayoutClient from "./LayoutClient.astro";

const { idCliente } = Astro.params;
let prestamos;

try {
  prestamos = await db
    .select()
    .from(Prestamo)
    .where(eq(Prestamo.clienteId, idCliente));

  // console.log(prestamos);
} catch (error) {
  console.log(error);
}
---
<LayoutClient>
      <div class="w-full flex flex-col items-center gap-3">
        <BotoneraFiltros />
        <ConfeccionTabla />
      </div>
</LayoutClient>