---

import ConfeccionTabla from "./tabla/ConfeccionTabla.astro";
import BotoneraFiltros from "../../prestamos/prestamos/BotoneraFiltros.astro";
import LayoutClient from "./LayoutClient.astro";
import db from "@/db";
import { clientes } from "@/db/schema/clientes.sql";
import {prestamos as Prestamo} from '@/db/schema/prestamos.sql'
import { eq } from "drizzle-orm";
const { idCliente } = Astro.params;
let prestamos;
const { user } = Astro.locals;
try {
  prestamos = await db
    .select({
      cliente: {
        dni: clientes.dni,
        nombre: clientes.nombre,
        apellido: clientes.apellido,
        direccion: clientes.direccion,
      },
      prestamo: Prestamo,
    })
    .from(Prestamo)
    .innerJoin(clientes, eq(Prestamo.clienteId, clientes.id))
    .where(eq(Prestamo.clienteId, idCliente));

  console.log(prestamos);
} catch (error) {
  console.log(error);
}

const infoCabecera = {
  usuario: {
    id: user.id,
  },
  cliente: prestamos[0]?.cliente,
  title: "Prestamos de ",
};
---

<LayoutClient>
  <div class="w-full flex flex-col items-center gap-3">
    <BotoneraFiltros infoCabecera={infoCabecera} />
    <ConfeccionTabla />
  </div>
</LayoutClient>
