---
import MainDash from "../../components/organismos/MainDash.astro";
import Layout from "../../layouts/Layout.astro";
import Layoutdash from "./layouts/Layoutdash.astro";
import ChartLine from "@/pages/dashboard/componentDash/ChartLine.astro";
import ContenedorDiv1 from "../../components/atomos/ContenedorDiv1.astro";
import Stats from "./componentDash/Stats.astro";
import ContenedorClientesDash from "../../components/organismos/ContenedorClientesDash.astro";
import db from "@/db";
import { users } from "@/db/schema/users.sql";
import { eq } from "drizzle-orm";

const { user } = Astro.locals;

 const userInfo = (await db.select({nombre: users.nombre, apellido: users.apellido,usersName:users.userName}).from(users).where(eq(users.id, user.id))).at(0)
console.log('usuario info ->',userInfo)

---

<Layoutdash userData={userInfo} title="Bienvenidos a PrestamosAPP">
  <MainDash>
    <ContenedorDiv1>
      <div
        class={`$ flex flex-col md:flex-row w-full gap-4 items-start justify-evenly relative`}
      >
        <ChartLine userId={user.id} />
        <ContenedorClientesDash user={user} />
      </div>
      <div class={`$ flex flex-col w-full gap-4 items-start justify-start relative`}>
        <Stats />
      </div>
    </ContenedorDiv1>
  </MainDash>
</Layoutdash>
