---
import MainDash from "../../components/organismos/MainDash.astro";
import Layout from "../../layouts/Layout.astro";
import Layoutdash from "./layouts/Layoutdash.astro";
---

<Layoutdash title="Biendevnido men">
  <MainDash>
    <div class="w-full">hoala</div>
  </MainDash>
</Layoutdash>
