---
import { Prestamo } from "astro:db";
import MainDash from "../../components/organismos/MainDash.astro";
import Layout from "../../layouts/Layout.astro";
import Layoutdash from "./layouts/Layoutdash.astro";

import {db,User,Cliente} from 'astro:db'

const users=await db.select().from(User)
const prestamos=await db.select().from(Prestamo)
console.log('prestamos ->',prestamos)
// console.log(users)
// console.log(clientes)
---

<Layoutdash title="Biendevnido men">
  <MainDash>
    <div class="w-full">hoala</div>
  </MainDash>
</Layoutdash>
