---
const { id, formula } = Astro.props;
---

<div class="w- flex flex-col b">
  {
    formula && (
      <p class="my-2 capitalize text-sm">
        esta es tu formula actual:{" "}
        <span class="ml-2 font-semibold  lowercase bg-gray-100 px-4 py-1">
          {formula}
        </span>
      </p>
    )
  }

  <input
    type="text"
    name="formulaPersonalizada"
    id="formulaPersonalizada"
    placeholder="Ingrese su formula"
    class="my-2 px-2 py-1 bg-gray-100 shadows w-full rounded focus:ring-0 outline-none text-sm mr-2"
  />
  <div>
    <button
      data-usuarioId={id}
      id="btnGuardar"
      class="bg-blue-500 text-white font-bold text-xs rounded hover:bg-blue-600 duration-300 px-2 py-1"
      >Guardar formula</button
    >
    <button
      id="resetFormula"
      class="bg-orange-500 text-white font-bold text-xs rounded hover:bg-orange-600 duration-300 px-2 py-1"
      >Resetar Formula</button
    >
  </div>
  <div class="my-2 border roundesd p-4">
    <span class="text-sm font-semibold"
      >Ejemplos y explicación de formulas usadas 👇</span
    >
    <div class="flex flex-col border-y border-gray-600 my-1">
      <p class="text-blue-500 text-sm my-1">
        <span class="font-bold">Sistema Francés (formula por defecto)</span>
      </p>
      <code class="text-xs bg-gray-600 py-1 px-2 text-white">
        (capital * ((tasaInteres / 100 / 12) * (1 + tasaInteres / 100 / 12) ^
        cuotas)) / ((1 + tasaInteres / 100 / 12) ^ cuotas - 1)</code
      >
      <div class="flex flex-col text-xs">
        <span class="font-semibold text-sm">Variables:</span>
        <p>
          <span class="font-semibold text-sm">Capital:</span> Monto total del préstamo
          solicitado.
        </p>
        <p>
          <span class="font-semibold text-sm">TasaInteres:</span> Tasa de interés
          anual, que se convierte a tasa mensual dentro de la fórmula.
        </p>
        <p>
          <span class="font-semibold text-sm">Cuotas:</span> Número total de cuotas
          en las que se devolverá el préstamo. Descripción: En el sistema francés,
          el cálculo se hace de manera que las cuotas iguales durante todo el periodo
          del préstamo.
        </p>

        <p class="text-blue-500 font-bold my-1">
          La fórmula considera una tasa mensual y divide el capital en una serie
          de pagos iguales, donde el interés se calcula sobre el saldo pendiente
          en cada cuota.
        </p>
      </div>
    </div>
    <div class="flex flex-col border-b border-gray-600 my-1">
      <p class="text-blue-500 text-sm my-1">
        <span class="font-bold">Sistema Aleman</span>
      </p>
      <code class="text-xs bg-gray-600 py-1 px-2 text-white">
        (capital / cuotas) + (saldoPendiente * (tasaInteres/100/12))
      </code>
      <div class="flex flex-col text-xs">
        <span class="font-semibold text-sm">Variables:</span>
        <p>
          <span class="font-semibold text-sm">Capital:</span>Monto total del
          préstamo solicitado.
        </p>
        <p>
          <span class="font-semibold text-sm">TasaInteres:</span> Tasa de interés
          anual, que se convierte a tasa mensual dentro de la fórmula.
        </p>
        <p>
          <span class="font-semibold text-sm">Cuotas:</span> Número total de cuotas
          en las que se devolverá el préstamo. Descripción: En el sistema francés,
          el cálculo se hace de manera que las cuotas iguales durante todo el periodo
          del préstamo.
        </p>
        <p>
          <span class="font-semibold text-sm">n:</span> Número de la cuota actual
          (1, 2, 3, ..., cuotas)..
        </p>

        <p class="text-blue-500 font-bold my-1">
          En el sistema alemán, la fórmula genera cuotas decrecientes. La parte
          de capital se divide en pagos iguales, pero el interés se calcula cada
          mes sobre el saldo pendiente, por lo que disminuye con el tiempo. La
          cuota resultante es mayor al principio y va bajando conforme el saldo
          pendiente disminuye..
        </p>
      </div>
    </div>
    <div class="text-red-500 font-semibold my-1">
      <p>
        Cuando ingrese una formula personalizada, siempre se debera usar las
        variables como capital; tasaInteres; cuotas; saldoPendiente; n. No
        necesariamnete se necesita obligatoriamente todas las variables
      </p>
    </div>
  </div>
</div>

<script>
  import { showToast } from "@/components/Toast/toastShow";

  const btnGuardar = document.getElementById("btnGuardar");
  const btnResetFormula = document.getElementById("resetFormula");
  const { usuarioid } = btnGuardar.dataset;
  const inputFormula = document.getElementById("formulaPersonalizada");

  btnResetFormula.addEventListener("click", async () => {
    try {
      const fetching = await fetch(
        `/api/usuario/configuracionFinanciera/formulaPersonalizada`,
        {
          method: "PUT",
          body: JSON.stringify({
            usuarioId: usuarioid,
            formula:
              "(capital * ((tasaInteres / 100 / 12) * (1 + tasaInteres / 100 / 12) ^ cuotas)) / ((1 + tasaInteres / 100 / 12) ^ cuotas - 1)",
          }),
        }
      );
      console.log(fetching);
      if (fetching.status == 200) {
        showToast("formula actualizada", { background: "bg-green-600" });
        setTimeout(() => {
          document.location.reload();
        }, 1500);
      }
    } catch (error) {
      console.log(error);
    }
  });

  btnGuardar.addEventListener("click", async () => {
    if (!inputFormula.value) {
      showToast("ingrese una formula", { background: "bg-red-500" });
      return;
    }
    try {
      const fetching = await fetch(
        `/api/usuario/configuracionFinanciera/formulaPersonalizada`,
        {
          method: "PUT",
          body: JSON.stringify({
            usuarioId: usuarioid,
            formula: inputFormula.value,
          }),
        }
      );
      if (fetching.status == 200) {
        showToast("formula actualizada", { background: "bg-green-600" });
        setTimeout(() => {
          document.location.reload();
        }, 1500);
      }
    } catch (error) {
      showToast("error al actualizar", { background: "bg-red-600" });
      console.log(error);
    }
  });
</script>
