---
import ContenedorDiv1 from "@/components/atomos/ContenedorDiv1.astro";
import LayoutAjustes from "../LayoutAjustes.astro";
import FormularioConfiguracionFinanzas from './FormularioConfiguracionFinanzas'
import { db ,} from "astro:db";
import { User,Intereses } from "astro:db";
import { Cliente } from "astro:db";
import { nCuotas } from "astro:db";
import { moraCuota } from "astro:db";
import { eq } from "astro:db";

const {id}=Astro.locals.user

let datosUsuario={intereses:[],nCuotas:[],moraCuota:[]}
try {
     datosUsuario.intereses = await db.select().from(Intereses).where(eq(Intereses.usuarioId,id))
     datosUsuario.nCuotas = await db.select().from(nCuotas).where(eq(nCuotas.usuarioId,id))
     datosUsuario.moraCuota = await db.select().from(moraCuota).where(eq(moraCuota.usuarioId,id))

    // console.log('data',datosUsuario)
} catch (error) {
    console.log(error)
}

---

<LayoutAjustes>
    <span slot="tituloAjustes">Datos Financieros</span>
    <ContenedorDiv1>
   <FormularioConfiguracionFinanzas dataUser={datosUsuario} usuarioId={id} client:load />
    </ContenedorDiv1>

</LayoutAjustes>