---
import ContenedorDiv1 from "@/components/atomos/ContenedorDiv1.astro";
import LayoutAjustes from "../LayoutAjustes.astro";
import FormularioConfiguracionFinanzas from "./FormularioConfiguracionFinanzas";
import {users as User, intereses as Intereses, nCuotas, moraCuotas as moraCuota } from "@/db/schema";
import FormulaPersonalizada from "./FormulaPersonalizada.astro";
import db from "@/db";
import { eq } from "drizzle-orm";

const { id } = Astro.locals.user;

let datosUsuario = { intereses: [], nCuotas: [], moraCuota: [], formula: "" };
try {
  datosUsuario.intereses = await db.select().from(Intereses).where(eq(Intereses.usuarioId, id));
  datosUsuario.nCuotas = await db.select().from(nCuotas).where(eq(nCuotas.usuarioId, id));
  datosUsuario.moraCuota = await db.select().from(moraCuota).where(eq(moraCuota.usuarioId, id));
  datosUsuario.formula = (await db.select({ formula: User.formulaPersonalizada }).from(User).where(eq(User.id, id))).at(0).formula;
//   console.log("data", datosUsuario);
} catch (error) {
  console.log(error);
}
---

<LayoutAjustes>
    <span slot="tituloAjustes">Datos Financieros</span>
    <ContenedorDiv1>
      <FormularioConfiguracionFinanzas
      dataUser={datosUsuario}
      usuarioId={id}
      client:load
      />
      
      
      <FormulaPersonalizada id={id} formula={datosUsuario.formula}/>
    </ContenedorDiv1>
</LayoutAjustes>

