---
import ContenedorDiv1 from "@/components/atomos/ContenedorDiv1.astro";
import LayoutAjustes from "../LayoutAjustes.astro";
import FormularioConfiguracionFinanzas from './FormularioConfiguracionFinanzas'
import { db ,} from "astro:db";
import { User,Intereses } from "astro:db";
import { Cliente } from "astro:db";
import { nCuotas } from "astro:db";

try {
    const interesesDB=await db.select().from(Intereses)

    console.log(interesesDB)
} catch (error) {
    console.log(error)
}

---

<LayoutAjustes>
    <span slot="tituloAjustes">Datos Financieros</span>
    <ContenedorDiv1>
   <FormularioConfiguracionFinanzas client:load />
    </ContenedorDiv1>

</LayoutAjustes>