---
import ContenedorDiv1 from "@/components/atomos/ContenedorDiv1.astro";
import LayoutAjustes from "../LayoutAjustes.astro";
import FormularioConfiguracionFinanzas from './FormularioConfiguracionFinanzas'
import { db ,} from "astro:db";
import { User,Intereses } from "astro:db";
import { Cliente } from "astro:db";
import { nCuotas } from "astro:db";
import { moraCuota } from "astro:db";
import { eq } from "astro:db";

const {user}=Astro.locals
console.log(user)
try {
    const datosUsuario=await db.select().from(Intereses).where(eq(Intereses.usuarioId,user.id)).innerJoin(moraCuota,eq(Intereses.usuarioId,user.id)).innerJoin(nCuotas,eq(Intereses.usuarioId,user.id))
    const datosDefault=await db.select().from(Intereses).where(eq(Intereses.usuarioId,"1")).innerJoin(moraCuota,eq(Intereses.usuarioId,"1")).innerJoin(nCuotas,eq(Intereses.usuarioId,"1"))
   
    console.log(datosDefault)
} catch (error) {
    console.log(error)
}

---

<LayoutAjustes>
    <span slot="tituloAjustes">Datos Financieros</span>
    <ContenedorDiv1>
   <FormularioConfiguracionFinanzas client:load />
    </ContenedorDiv1>

</LayoutAjustes>