---
import InputFormularioSolicitud from "@/components/moleculas/InputFormularioSolicitud.astro";
---

<form action="" class="flex flex-col w-full items-center justify-normal p-3 text-primary-texto">

  <InputFormularioSolicitud
    name="nombreApellido"
    id="nombreApellido"
    type="text"
  >
    Nombre y Apellido
  </InputFormularioSolicitud>
  <InputFormularioSolicitud
    name="nombreApellido"
    id="nombreApellido"
    type="number"
  >
    DNI
  </InputFormularioSolicitud>
  <InputFormularioSolicitud
    name="nombreApellido"
    id="nombreApellido"
    type="text"
  >
    Dirección
  </InputFormularioSolicitud>
  <div class="flex item-center w-full justify-normal gap-2">
  <InputFormularioSolicitud
    name="nombreApellido"
    id="nombreApellido"
    type="text"
  >
    email
  </InputFormularioSolicitud>
  <InputFormularioSolicitud
    name="nombreApellido"
    id="nombreApellido"
    type="email"
  >
    Celular
  </InputFormularioSolicitud>
</div>
  <div class="flex item-cente justify-normal gap-2 w-full">
    <InputFormularioSolicitud
      name="nombreApellido"
      id="nombreApellido"
      type="number"
    >
      Monto a solicitar
    </InputFormularioSolicitud>
    <InputFormularioSolicitud
      name="nombreApellido"
      id="nombreApellido"
      type="number"
    >
      Cuotas
    </InputFormularioSolicitud>
  </div>

  <button class="bg-blue-400 px-2 py-1 mt-2 w-auto text-white text-xs font-ssemibold mb-4 rounded shadow hover:bg-blue-600 duration-300">Enviar</button>
</form>
