---
---


<form action="" class="flex flex-col p-3 text-primary-texto">
    <h2>Solicitud de Credito</h2>

    <div class="relative w-full mt-8 group">
        <label for="nombreApellido" class=" top-0 left-0 duration-300 group-hover:-translate-y-6 group-hover:px-0 group-hover:text-sm group-select:-translate-y-6 group-select:px-0 group-select:text-sm group-active:-translate-y-6  group-active:px-0 group-active:text-sm peer-valid:-translate-y-8 peer-active:-translate-y-7 ring-0 valid:ring-0 py-0.5 peer-focus:-translate-y-6 focus:outline-none outline-none z-20 text-xs px-2 text-primary-100/50  absolute ">Nombre y apellido</label> 
        <input type="text" name="nombreApellido" id="nombreApellido" class="bg-gray-100  z-10 w-full  left-0 px-1 py-1 text-sm rounded shadow valid:ring-0   outline-none   focus:outline-none">
    </div>
</form>