---
import Titulo1 from "../../../../components/atomos/Titulo1.astro";
import MainDash from "../../../../components/organismos/MainDash.astro";
import Layoutdash from "../../layouts/Layoutdash.astro";
import BotoneraFiltros from "./BotoneraFiltros.astro";
import ConfeccionTablaPrestamos from "../tablas/ConfeccionTablaPrestamos.astro";
import ContenedorDiv1 from "@/components/atomos/ContenedorDiv1.astro";
---

<Layoutdash title="Prestamos">
  <MainDash>
<ContenedorDiv1>
      <Titulo1> Prestamos </Titulo1>
      <BotoneraFiltros />
      <div class="py-5 w-full md:px-5 overflow-x-auto">
        <ConfeccionTablaPrestamos />
      </div>
    </ContenedorDiv1>
  </MainDash>
</Layoutdash>
