---
import Button1 from "../../../components/atomos/Button1.astro";
import FormCont from "../../../components/atomos/FormCont.astro";
import Titulo1 from "../../../components/atomos/Titulo1.astro";
import ContenedorBoton from "../../../components/moleculas/ContenedorBoton.astro";
import ContenedorInputForm from "../../../components/moleculas/ContenedorInputForm.astro";


const {userId}={userId:'kñlksñdlfks'}
---

<FormCont id="formularioCliente">
  <Titulo1>Nuevo Cliente</Titulo1>
  <div class="flex md:flex-row items-center gap-2 w-full justify-normal">
    <ContenedorInputForm
      label="nombre"
      type="text"
      name="nombre"
      styleInput=""
    />
    <ContenedorInputForm
      label="apellido"
      type="text"
      name="apellido"
      styleInput=""
    />
  </div>

  <ContenedorInputForm label="dni" type="number" name="dni" />
  <div class="flex md:flex-row items-center gap-2 w-full justify-normal">
    <ContenedorInputForm label="email" type="email" name="email" />
    <ContenedorInputForm label="celular" type="text" name="cel" />
  </div>
  <ContenedorInputForm label="direccion" type="text" name="direccion" />
  <ContenedorBoton>
    <Button1 type="submit">agregar</Button1>
    <Button1 span="close">cancelar</Button1>
  </ContenedorBoton>
</FormCont>

<script>
  const formulario = document.getElementById("formularioCliente");

  formulario.addEventListener("submit", async (e) => {

    const formData = new FormData(e.target);
    formData.append('userId','123456')
    const data = Object.fromEntries(formData.entries());

    
    try {
      const response = await fetch("/api/clientes/route", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
     
        body: JSON.stringify(data),
    });

    console.log(response)
    } catch (error) {
      console.log(error)
    }
  });
 
</script>
