---

---

<form id="miFormulario" class="hidden">
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre"><br>
    <label for="correo">Correo:</label><br>
    <input type="text" id="correo" name="correo"><br><br>
    <input type="submit" value="Enviar">
  </form>
  