---
import Layoutdash from "../layouts/Layoutdash.astro";
import MainDash from "@/components/organismos/MainDash.astro";
import Titulo1 from "@/components/atomos/Titulo1.astro";
import Tabla from "./tabla/TablaClientes.astro";
import FormularioCliente from "./FormularioCliente.astro";
import ContenedeorModal from "@/components/organismos/ContenedeorModal.astro";
import FormularioDeBusqueda from "@/components/organismos/FormularioDeBusqueda";

import {clientes as Cliente } from "@/db/schema";
import ContenedorDiv1 from "@/components/atomos/ContenedorDiv1.astro";
import ButtonPdf from "@/components/atomos/ButtonPdf";
import db from "@/db";
import { eq } from "drizzle-orm";


const {user}=Astro.locals
const clientes = await db
.select()
.from(Cliente)
.where(eq(Cliente.usuarioId, user.id));



let infoCabecera={
  usuario:{id:user.id},
  title:'CLIENTES'
}
---

<Layoutdash title="Clientes">
  <MainDash >

    <ContenedorDiv1 class="flex w-full p-5 flex-col items-start justify-start relative ">
      <div class="flex flex-col md:flex-row mb-2 md:items-center justify-between w-full gap-5">
        <Titulo1>Clientes</Titulo1>
        <FormularioDeBusqueda  clientes={clientes} client:load />
        <div class="md:w-1/6 w-full m-auto  top-0 -right-5">
          <ContenedeorModal open="Crear Cliente">
            <FormularioCliente user={user} />
          </ContenedeorModal>
          <ButtonPdf infoCabecera={infoCabecera} client:load>pdf</ButtonPdf>
        </div>
      </div>
      
      <div class="w-full">
        <Tabla />
      </div>
    </ContenedorDiv1>
  </MainDash>
</Layoutdash>
