---
import Loader from "@/components/loader/Loader.astro";
import NavDash from "../../../components/organismos/NavDash.astro";
import Sidebar from "../../../components/organismos/Sidebar.astro";

interface Props {
  title: string;
  dataCliente:string,
  userData:string
}

const { title,dataCliente,userData } = Astro.props;
const url=Astro.url

---

<!doctype html>
<html lang="es" theme="white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-primary-bg-claro  min-h-screen h-full relative overflow-x-hidden flex flex-col"
  >
    <!-- <LoaderGral/> -->

    <NavDash dataCliente={dataCliente} userData={userData}/>
    <Loader/>
    <Sidebar />
    <slot />
  </body>
</html>
<style is:global>
  /* Registra tu font family personalizada y le indicamos al navegador dónde encontrarla. */

  @font-face {
    font-family: "IndieFlower";
    src: url("/font/IndieFlower-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
 }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
</style>

<script>
import { rangoCuotasSelect } from "../../../context/store";


const cuotas=rangoCuotasSelect.get()

rangoCuotasSelect.subscribe((state)=>{
  // console.log(state.cuotas)
})
</script>