---
import ContenedorDiv1 from "../../../../components/atomos/ContenedorDiv1.astro";
import Titulo1 from "../../../../components/atomos/Titulo1.astro";
import ContenedeorModal from "../../../../components/organismos/ContenedeorModal.astro";
import MainDash from "../../../../components/organismos/MainDash.astro";
import Layoutdash from "../../layouts/Layoutdash.astro";
import ConfeccionTablaCuotasSelect from "./ConfeccionTablaCuotasSelect.astro";

const { user } = Astro.locals;

const { startDate, endDate } = Astro.params;
const dateStartDate = new Date(Number(startDate));
const dateEndDate = new Date(Number(endDate));
let cuotasSelectedDB = [];
if (!startDate || !endDate) {
  throw new Error("startDate and endDate must be provided");
}
try {
  const res = await fetch(`http://${Astro.url.host}/api/cuotas/${user.id}`, {
    method: "GET",
    headers: {
      startDate: dateStartDate,
      endDate: dateEndDate,
    },
  });
  const data = await res.json();
  // console.log(data)
  cuotasSelectedDB = data.data;
} catch (error) {
  console.log(error);
}
---

<Layoutdash title="Bienvenidos a PretamosAPP">
  <MainDash>
    <ContenedorDiv1>
      <div class="w-full">
        <Titulo1
          >Cuotas de {dateStartDate.toLocaleDateString()} a {
            dateEndDate.toLocaleDateString()
          }
        </Titulo1>
      </div>
      <div class="w-10/12">
        <ConfeccionTablaCuotasSelect cuotasSeleccionadas={cuotasSelectedDB} />
      </div>
    </ContenedorDiv1>
  </MainDash>
</Layoutdash>
