---
import { db } from "astro:db";
import TablaPagoCliente from "./TablaPagoCliente";
import { Prestamo } from "astro:db";
import { eq } from "astro:db";
import { Pago } from "astro:db";
import { PagoParcial } from "astro:db";
import { Cuota } from "astro:db";

const { id } = Astro.locals.user;
const { idCliente } = Astro.params;

// console.log('page confeccion tabla pagos',idCliente)
let pagos = [];
let arrayBody = [];
let cuotas = [];
let columnas = [];
try {
pagos = await db.select().from(Pago).where(eq(Pago.clienteId, idCliente))
// cuotas= await db.select().from(Cuota).where(eq(Cuota.clienteId,idCliente))
// console.log('cuotasa ->',cuotas)

const clikAqui=(text)=>{
console.log(text)
}
let pagosParciales= await db.select().from(PagoParcial).where(eq(PagoParcial.clienteId,idCliente))
pagos =[...pagos,...pagosParciales]
 arrayBody=pagos.map((element, i) => {
    // console.log('confeccion de pagos tabla',element)
    return {
      href:`/dashboard/clientes/${element.clienteId}/pagos/${element.id}`,
      numero: i + 1,
      id: element?.id,
      prestamo:element.prestamoId,
      montoCuota: element?.cuotaId,
      fechaPago: element?.fechaPago.toLocaleDateString(),
      montoTotal: `$ ${element?.monto.toLocaleString()}`,

    };
  });
} catch (error) {
  console.log(error);
}

// enlace de la tabla al que me redirige con el id
---

<div class="w-full overflow-x-auto my-5">
  <TablaPagoCliente arrayBody={arrayBody}  client:load />
</div>
