---
import MainDash from "@/components/organismos/MainDash.astro";
import Layoutdash from "../layouts/Layoutdash.astro";
import Titulo1 from "@/components/atomos/Titulo1.astro";
import ContenedorDiv1 from "@/components/atomos/ContenedorDiv1.astro";
import FormularioDatos from "./FormularioDatos";
import { users as User } from "@/db/schema";
import LayoutAjustes from "./LayoutAjustes.astro";
import db from "@/db";
import { eq } from "drizzle-orm";

const { id } = Astro.locals.user;
let userData = {};
try {
  const userDB = (await db.select().from(User).where(eq(User.id, id))).at(0);
  userData = userDB;
} catch (error) {
  console.log(error);
}
---

<LayoutAjustes>
  <span slot="tituloAjustes">Datos Personales</span>
  <ContenedorDiv1>
    <FormularioDatos client:load user={userData} />
  </ContenedorDiv1>
</LayoutAjustes>
