---
import { db } from "astro:db";
import { Cuota } from "astro:db";
import { eq } from "astro:db";
import { Cliente } from "astro:db";
import { Prestamo } from "astro:db";

import ReciboPrint from "./ReciboPrint.astro";
import { Pago } from "astro:db";
import Layoutdash from "../../../layouts/Layoutdash.astro";
import MainDash from "../../../../../components/organismos/MainDash.astro";
import Titulo1 from "../../../../../components/atomos/Titulo1.astro";
import Button2 from "../../../../../components/atomos/Button2.astro";
import ContenedeorModal from "../../../../../components/organismos/ContenedeorModal.astro";
import FormularioPago from "./FormularioPago.astro";
import Button1 from "../../../../../components/atomos/Button1.astro";

const { idCuota } = Astro.params;
let resultadoBase = {};
try {
  const resBase = await db
    .select()
    .from(Cuota)
    .where(eq(Cuota.id, idCuota))
    .innerJoin(Prestamo, eq(Prestamo.id, Cuota.prestamoId))
    .innerJoin(Cliente, eq(Prestamo.clienteId, Cliente.id))
    .leftJoin(Pago,eq(Pago.cuotaId,idCuota))

  resultadoBase = resBase[0];
} catch (error) {
  console.log(error);
}

// console.log(resultadoBase)
---

<Layoutdash title="Recibo Cuota">
  <MainDash>
    <div
    data-idCuota
    id={idCuota}
      class="flex flex-col items-start bg-0 print:hidden justify-normal w-full px-5 py-2 relative"
    >
      <Titulo1>Cuota</Titulo1>
      <div class="w-full flex items-starts justify-normal gap-3">
        <div
          id="reciboPrint"
          class="py-5 flex-grow w-full px-5 font-mono print:w-screen"
        >
          <ReciboPrint data={resultadoBase} />
        </div>
        <div class="flex flex- h-full flex-  gap-4 items-start w-1/3 p-5">
          <Button1 id="imprimir">imprimir</Button2>
          <div class=" m-auto  top-5 right-0">
            <ContenedeorModal open="Pagar">
              <FormularioPago data={resultadoBase}  />
            </ContenedeorModal>
          </div>
        </div>
      </div>
    </div>
  </MainDash>

  <div class="screen:hidden">
    <ReciboPrint data={resultadoBase} />
  </div>
</Layoutdash>
<script >


  const idCuota=document.querySelector('[data-idCuota]').id
  document.getElementById("imprimir").addEventListener("click", () => {
    print();
  });


</script>
