---

---

<form action="POST" class="flex flex-col items-start border-y p-5 w-full">
  <div class="w-full flex items flex-col items-start gap-3 -md p-3">
    <label for="cliente" class="text-primary-100">Buscar Cliente</label>
    <input
      type="search"
      name="cliente"
      id="cliente"
      class="w-full bg-gray-200/50 text-base focus:ring-0 focus:border-0 px-2 py-1"
    />
  </div>
  <div class="flex items-center w-full justify-normal">
    <div class="w-full flex items flex-col items-start gap-3 -md p-3">
      <label for="importeCredito" class="text-primary-100"
        >Importe Credito</label
      >
      <input
        type="text"
        name="importeCredito"
        id="importeCredito"
        class="w-full bg-gray-200/50 text-base focus:ring-0 focus:border-0 px-2 py-1"
      />
    </div>
    <div class="w-full flex items flex-col items-start gap-3 -md p-3">
      <label for="modalidad" class="text-primary-100">Modalidad</label>
      <input
        type="text"
        name="modalidad"
        id="modalidad"
        class="w-full bg-gray-200/50 text-base focus:ring-0 focus:border-0 px-2 py-1"
      />
    </div>
  </div>
</form>
