---

---

<main
  class="absolute right-0 top-28 md:top-28 border-l-2 border-primary-100/80 bg-white rounded-l-2xl shadow-md md:max-w-[88vw] md:w-[88vw] w-full flex items-center justify-normal"
>
  <slot />
</main>
