---

---

<main class="absolute right-0 top-28 md:top-36 border-l-2 border-primary-100/80 bg-white rounded-l-2xl shadow-md min-h-[65vh] md:max-w-[86vw] w-full flex items-start justify-center">
<slot/>
</main>