---

---

<main
  class="absolute md:right-0 top-28 md:top-28 md:border-l-2 border-primary-100/80 bg-white md:rounded-l-2xl md:pb-0 pb-28 shadow-md md:max-w-[88vw] w-full md:w-[88vw] flex flex-col md:flex-row items-center justify-normal"
>
  <slot />
</main>
