---
import Titulo1 from "../atomos/Titulo1.astro";




const fecha = Date();
---


<nav
class="fixed border-l-2 border-primary-100/80 bg-primary-bg-componentes md:w-10/12 w-full right-0 rounded-bl-3xl text-sm text-primary-texto shadow-md md:h-36 flex flex-col items-center justify-start"
>
<div class="w-full flex  h-full items-center justify-normal border-b pb-2">
  <div class="px-5 md:hidden">RamiroCode</div>
  <div class="flex flex-col items-start px-5 md:w-1/4 flex-shrink">
    <Titulo1>Biendenido!</Titulo1>
    <span class="text-sm font-semibold fonme">  {
      new Date().toLocaleDateString("es-AR", {
        day: "2-digit",
        month: "short",
        year: "numeric",
      })
    }</span>
  </div>
  <div <div class="flex items-start  justify-end gap-5 px-5 w-full flex-shrink">
    <button>simulador</button>
    <div>cerrar sesion</div>
  </div>
</div>
<div class="w-full py-2">
  <ul class="flex items-start justify-evenly">
      <li>compaling</li>
      <li>leads</li>
      <li>cuotas</li>
      <li>inversione</li>
  </ul>

</div>
</nav>