---
import ButtonSidebar from "../moleculas/ButtonSidebar.astro";
---

<sidebar
  class="print:hidden md:fixed bottom-0  z-20 absolute md:top-0 shadow-md left-0 md:w-[10vw] w-screen bg-primary-bg-componentes h-20 md:h-screen flex md: flex-col items-start justify-normal gap-2"
>
  <div class="border-b w-full h-1/6 hidden md:flex">
   <img src="/ramaCode.png" alt="ramaCode" width="100"height={"100"} class="w-10/12 h-auto">
  </div>
  <div class="flex flex-col items-start w-full gap-6">
    <div class="w-full flex items-center justify-normal gap-3">
      <div class="w-full pl-3 flex md:flex-col items-start gap-4 mt-5">
        <ButtonSidebar span="inicio" href="/dashboard">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
            ><path
              d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"
            ></path></g
          >
        </ButtonSidebar>
        
        <ButtonSidebar span="prestamos" href="/dashboard/prestamos">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 21H21M3 18H21M5.82333 3.00037C6.2383 3.36683 6.5 3.90285 6.5 4.5C6.5 5.60457 5.60457 6.5 4.5 6.5C3.90285 6.5 3.36683 6.2383 3.00037 5.82333M5.82333 3.00037C5.94144 3 6.06676 3 6.2 3H17.8C17.9332 3 18.0586 3 18.1767 3.00037M5.82333 3.00037C4.94852 3.00308 4.46895 3.02593 4.09202 3.21799C3.71569 3.40973 3.40973 3.71569 3.21799 4.09202C3.02593 4.46895 3.00308 4.94852 3.00037 5.82333M3.00037 5.82333C3 5.94144 3 6.06676 3 6.2V11.8C3 11.9332 3 12.0586 3.00037 12.1767M3.00037 12.1767C3.36683 11.7617 3.90285 11.5 4.5 11.5C5.60457 11.5 6.5 12.3954 6.5 13.5C6.5 14.0971 6.2383 14.6332 5.82333 14.9996M3.00037 12.1767C3.00308 13.0515 3.02593 13.531 3.21799 13.908C3.40973 14.2843 3.71569 14.5903 4.09202 14.782C4.46895 14.9741 4.94852 14.9969 5.82333 14.9996M5.82333 14.9996C5.94144 15 6.06676 15 6.2 15H17.8C17.9332 15 18.0586 15 18.1767 14.9996M21 12.1771C20.6335 11.7619 20.0973 11.5 19.5 11.5C18.3954 11.5 17.5 12.3954 17.5 13.5C17.5 14.0971 17.7617 14.6332 18.1767 14.9996M21 12.1771C21.0004 12.0589 21 11.9334 21 11.8V6.2C21 6.06676 21 5.94144 20.9996 5.82333M21 12.1771C20.9973 13.0516 20.974 13.5311 20.782 13.908C20.5903 14.2843 20.2843 14.5903 19.908 14.782C19.5311 14.9741 19.0515 14.9969 18.1767 14.9996M20.9996 5.82333C20.6332 6.2383 20.0971 6.5 19.5 6.5C18.3954 6.5 17.5 5.60457 17.5 4.5C17.5 3.90285 17.7617 3.36683 18.1767 3.00037M20.9996 5.82333C20.9969 4.94852 20.9741 4.46895 20.782 4.09202C20.5903 3.71569 20.2843 3.40973 19.908 3.21799C19.5311 3.02593 19.0515 3.00308 18.1767 3.00037M14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g>
        </ButtonSidebar>
        
        <ButtonSidebar span="clientes" href="/dashboard/clientes">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M1.5 6.5C1.5 3.46243 3.96243 1 7 1C10.0376 1 12.5 3.46243 12.5 6.5C12.5 9.53757 10.0376 12 7 12C3.96243 12 1.5 9.53757 1.5 6.5Z" ></path> <path d="M14.4999 6.5C14.4999 8.00034 14.0593 9.39779 13.3005 10.57C14.2774 11.4585 15.5754 12 16.9999 12C20.0375 12 22.4999 9.53757 22.4999 6.5C22.4999 3.46243 20.0375 1 16.9999 1C15.5754 1 14.2774 1.54153 13.3005 2.42996C14.0593 3.60221 14.4999 4.99966 14.4999 6.5Z" ></path> <path d="M0 18C0 15.7909 1.79086 14 4 14H10C12.2091 14 14 15.7909 14 18V22C14 22.5523 13.5523 23 13 23H1C0.447716 23 0 22.5523 0 22V18Z" ></path> <path d="M16 18V23H23C23.5522 23 24 22.5523 24 22V18C24 15.7909 22.2091 14 20 14H14.4722C15.4222 15.0615 16 16.4633 16 18Z" ></path> </g>
        </ButtonSidebar>
        
        <ButtonSidebar span="ajustes" href="/dashboard/ajustes">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 12L6 5"  stroke-width="2" stroke-linecap="round"></path> <path d="M12 8L12 5"  stroke-width="2" stroke-linecap="round"></path> <path d="M6 19L6 16"  stroke-width="2" stroke-linecap="round"></path> <path d="M18 19L18 17"  stroke-width="2" stroke-linecap="round"></path> <path d="M12 19L12 12"  stroke-width="2" stroke-linecap="round"></path> <path d="M10 8L14 8"  stroke-width="2" stroke-linecap="round"></path> <path d="M4 16L8 16"  stroke-width="2" stroke-linecap="round"></path> <path d="M16 17H20"  stroke-width="2" stroke-linecap="round"></path> <path d="M18 13L18 5"  stroke-width="2" stroke-linecap="round"></path> </g>
        </ButtonSidebar>
        
        
        <div>

        </div>
      </div>
    </div>
  </div>
</sidebar>
