---

const {capital,pagosCobrados,cuotasInpagas,totalConIntereses}=Astro.props
---
<div class="flex items-center justify-normal gap-2">
    <!-- en circulacion  -->

    <div
      class="bg-white p-3 rounded-lg text-primary-texto font-semibold flex text-center text-xs shadow-lg"
    >
      <div class="border-r px-3 capitalize">
        <p>en circulación</p>
        <p class="text-base">$ {cuotasInpagas?.toLocaleString()}</p>
      </div>
      <div class="px-3">
        <p>Cobrados</p>
        <p class="text-base">$ {pagosCobrados?.toLocaleString()}</p>
      </div>
    </div>
    <!-- prestmaos en mora -->
    <div
      class="bg-white p-3 rounded-lg text-primary-texto font-semibold flex text-center text-xs shadow-lg"
    >
      <div class="px-3 border-r">
        <p class="capitalize text-red-600 font-bold">Capital total</p>
        <p class="text-base">$ {capital?.toLocaleString()}</p>
      </div>
      <div class="px-3">
        <p class="capitalize text-red-600 font-bold">total c/intereses </p>
        <p class="text-base">$ {totalConIntereses?.toLocaleString()}</p>
      </div>
    </div>
  </div>