---

const {capital,pagosCobrados,cuotasInpagas,totalConIntereses}=Astro.props
import currency from '@/lib/formulas/convertidorMoneda'

---
<div class="flex flex-wrap md:flex-nowrap items-center justify-normal gap-2">
    <!-- en circulacion  -->

    <div
      class="bg-white p-3 rounded-lg text-primary-texto font-semibold flex text-center text-xs shadow-lg"
    >
      <div class="border-r px-3 capitalize">
        <p> circulación</p>
        <p class="text-base">$ {cuotasInpagas?.toLocaleString()}</p>
      </div>
      <div class="px-3">
        <p>Cobrados</p>
        <p class="text-base">$ {pagosCobrados?.toLocaleString()}</p>
      </div>
    </div>
    <!-- prestmaos en mora -->
    <div
      class="bg-white p-3 rounded-lg text-primary-texto font-semibold flex text-center text-xs shadow-lg"
    >
      <div class="px-3 border-r">
        <p class="capitalize text-red-600 font-bold">Capital</p>
        <p class="text-base">{currency(capital)}</p>
      </div>
      <div class="px-3">
        <p class="capitalize text-red-600 font-bold">ganancia </p>
        <p class="text-base"> {currency(totalConIntereses-capital)}</p>
      </div>
    </div>
  </div>