---
import Tr from "../../../../components/atomos/Tr.astro";
import THNombre from "../../../../components/atomos/THNombre.astro";
import { eq, User, db, Cliente } from "astro:db";
const userId = "123456";
const clientes = await db
  .select()
  .from(Cliente)
  .where(eq(Cliente.usuarioId, userId));

---

<tbody>
  {
    clientes?.map((client) => {
      return (
        <Tr styleTr="hover:bg-primary-200/20 duration-300 cursor-pointer border-b">
          <th class="border-t-0 px-4 align-middle border-l-0 capitalize border-r-0 text-xs whitespace-nowrap p-3 text-left text-primary-100 ">
            {client.nombre}
          </th>
          <th class="border-t-0 px-4 align-middle border-l-0 capitalize border-r-0 text-xs whitespace-nowrap p-3 text-left text-primary-100 ">
            {client.apellido}
          </th>
          <td class="border-t-0 px-4 align-middle lowercase border-l-0 border-r-0 text-xs whitespace-nowrap  ">
            {client.email}
          </td>
          <td class="border-t-0 px-4 align-center border-l-0 border-r-0 text-xs whitespace-nowrap ">
            {client.celular}
          </td>
          <td class="border-t-0 px-4 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap ">
            activo
          </td>
        </Tr>
      );
    })
  }
</tbody>
