---
import Tr from "../../../../components/atomos/Tr.astro";



---

<tbody>
    <Tr styleTr="hover:bg-primary-200/20 duration-300 cursor-pointer border-b">
      <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-3 text-left text-primary-100 ">
        Ramiro quiroga
      </th>
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap  ">
        ramiryexe@hotmail.com
      </td>
      <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap ">
        3855385459
      </td>
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap ">
        
        activo
      </td>
    </Tr>
    
    <Tr styleTr="hover:bg-primary-200/20 duration-300 cursor-pointer border-b">
      <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-3 text-left text-primary-100 ">
        Ramiro quiroga
      </th>
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap  ">
        ramiryexe@hotmail.com
      </td>
      <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap ">
        3855385459
      </td>
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap ">
        
        activo
      </td>
    </Tr>
    
    <Tr styleTr="hover:bg-primary-200/20 duration-300 cursor-pointer border-b">
      <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-3 text-left text-primary-100 ">
        Ramiro quiroga
      </th>
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap  ">
        ramiryexe@hotmail.com
      </td>
      <td class="border-t-0 px-6 align-center border-l-0 border-r-0 text-xs whitespace-nowrap ">
        3855385459
      </td>
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap ">
        
        activo
      </td>
    </Tr>
    
  </tbody>