---
import { db } from "astro:db";
import Titulo1 from "../../../../components/atomos/Titulo1.astro";
import MainDash from "../../../../components/organismos/MainDash.astro";
import Layoutdash from "../../layouts/Layoutdash.astro";
import { Cuota } from "astro:db";
import { eq } from "astro:db";
import { Cliente } from "astro:db";
import { Prestamo } from "astro:db";
import Stats from "../../../../components/moleculas/Stats.astro";
import Button1 from "../../../../components/atomos/Button1.astro";
import Button2 from "../../../../components/atomos/Button2.astro";
import ReciboPrint from "./ReciboPrint.astro";

const { idCuota } = Astro.params;
let resultadoBase = {};
try {
  const resBase = await db
    .select()
    .from(Cuota)
    .where(eq(Cuota.id, idCuota))
    .innerJoin(Prestamo, eq(Prestamo.id, Cuota.prestamoId))
    .innerJoin(Cliente, eq(Prestamo.clienteId, Cliente.id));

  resultadoBase = resBase[0];
} catch (error) {
  console.log(error);
}
---

<Layoutdash title="Recibo Cuota">
  <MainDash>
    <div
    data-idCuota
    id={idCuota}
      class="flex flex-col items-start bg-0 print:hidden justify-normal w-full px-5 py-2 relative"
    >
      <Titulo1>Cuota</Titulo1>
      <div class="w-full flex items-starts justify-normal gap-3">
        <div
          id="reciboPrint"
          class="py-5 flex-grow w-full px-5 font-mono print:w-screen"
        >
          <ReciboPrint data={resultadoBase} />
        </div>
        <div class="flex flex- h-full flex-wrap gap-4 items-start w-1/3 p-5">
          <Button2 id="imprimir">imprimir</Button2>
          <Button2 id="cerrarCuota">cerrar cuota</Button2>
        </div>
      </div>
    </div>
  </MainDash>

  <div class="screen:hidden">
    <ReciboPrint data={resultadoBase} />
  </div>
</Layoutdash>
<script >
import { showToast } from "../../../../components/Toast/toastShow";

  const idCuota=document.querySelector('[data-idCuota]').id
  document.getElementById("imprimir").addEventListener("click", () => {
    print();
  });

  document.getElementById("cerrarCuota").addEventListener("click", async () => {
    try {
      const res = await fetch(`/api/prestamos/cuota/${idCuota}`, {
        method: "PUT",
      });
      const respuesta = await res.json();
      if (respuesta.status == 200) {
        showToast('cuota cerrada',{background:'bg-green-500',time:2000})
        setTimeout(()=>{
          window.location.reload()
       
        },2000)
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
