---
import InputDate from "../../../components/atomos/InputDate"

const todayValue=new Date().toLocaleDateString()
console.log(todayValue)
---

<article
  class="p-4 rounded-lg bg-primary-300 flex items-center justify-normal text-white text-sm"
>
  <div class="flex flex-col items-center gap-3">
      <div
      class="flex flex-col gap-3 shadow-md items-center bg-white h-1/2 w-full rounded text-primary-texto p-4 rounded-b-3xl"
      >
      <h3 class="font-medium">Cuotas a vencer</h3>
      <label for="inputDate">
        <InputDate client:load/>
        </label>
      <span class="font-black  text-lg">20</span>
    </div>
  </div>
  <div></div>
  <div></div>
</article>
