---
const { cliente, id } = Astro.props;
---

<div
  id={id}
  class={`${cliente ? "cursor-pointer" : ""} relative justify-center flex-grow-0   flex px-5 py-1  flex-w text-primary-texto fill-primary-texto md:flex-row flex-col items-center rounded-full border-[1px]  shadow-md shadow-primary-texto/15 gap-2 border-primary-texto/15 `}
>
  <div class="w-auto flex items-center">
    <div class="rounded-full mx-auto bg-lightPrimary">
      <span class="flex items-center">
        <slot class="w-6 h-6" />
      </span>
    </div>
  </div>
  <div class="flex capitalize w-auto flex-col justify-center">
    <p class="text-sm  font-medium"><slot name="label" /></p>
    <h4 class="text font-thin text-sm"><slot name="value" /></h4>
  </div>
</div>
<script define:vars={{ id }}>
  document
    .getElementById(id)
    .addEventListener(
      "click",
      () => (document.location.href = `/dashboard/clientes/${id}`)
    );
</script>
