---
import { db } from "astro:db";
import LayoutClient from "../LayoutClient.astro";
import ComprobantePago from "./ComprobantePago.astro";
import { eq } from "astro:db";
import { Pago } from "astro:db";
import { User } from "astro:db";
import { Cliente } from "astro:db";
import Button1 from "@/components/atomos/Button1.astro";
const { idCliente } = Astro.params;

const { idPago } = Astro.params;

let dataPago = {};
try {
  dataPago = (
    await db
      .select({
        usuario: {
          userName: User.userName,
          src: User.srcPhoto,
          nombre: User.nombre,
          apellido: User.apellido,
          dni: User.dni,
          direccion: User.direccion,
          provincia: User.ciudad,
          celular: User.celular,
        },
        cliente: {
          id: Cliente.id,
          nombre: Cliente.nombre,
          apellido: Cliente.apellido,
          dni: Cliente.dni,
          direccion: Cliente.direccion,
          ciudad: Cliente.ciudad,
          celular: Cliente.celular,
        },
        pago: Pago,
      })
      .from(Pago)
      .where(eq(Pago.id, idPago))
      .innerJoin(User, eq(User.id, Pago.usuarioId))
      .innerJoin(Cliente, eq(Cliente.id, Pago.clienteId))
  ).at(0);
  // console.log(dataPago)
} catch (error) {
  console.log(error);
}
---

<LayoutClient dataPago={dataPago}>
  <div class="flex flex-col w-full items-center justify-center gap-3">
    <div class="flex items-center border rounded-2xl justify-normal gap-5 px-4">
      <div class="cursor-pointer">
        <svg
          class="w-8 fill-primary-400"
          viewBox="0 0 32 32"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <path
              d="M0 16q0-3.232 1.28-6.208t3.392-5.12 5.12-3.392 6.208-1.28q3.264 0 6.24 1.28t5.088 3.392 3.392 5.12 1.28 6.208q0 3.264-1.28 6.208t-3.392 5.12-5.12 3.424-6.208 1.248-6.208-1.248-5.12-3.424-3.392-5.12-1.28-6.208zM4 16q0 3.264 1.6 6.048t4.384 4.352 6.016 1.6 6.016-1.6 4.384-4.352 1.6-6.048-1.6-6.016-4.384-4.352-6.016-1.632-6.016 1.632-4.384 4.352-1.6 6.016zM10.048 18.4q-0.128-0.576 0.096-1.152t0.736-0.896 1.12-0.352h2.016v-5.984q0-0.832 0.576-1.408t1.408-0.608 1.408 0.608 0.608 1.408v5.984h1.984q0.608 0 1.12 0.352t0.736 0.896q0.224 0.576 0.096 1.152t-0.544 1.024l-4 4q-0.576 0.576-1.408 0.576t-1.408-0.576l-4-4q-0.448-0.416-0.544-1.024z"
            ></path>
          </g></svg
        >
      </div>
      <Button1 id="imprimir">imprimir</Button1>
    </div>
    <div class="items-center flex justify-center">
      <ComprobantePago infoData={dataPago} />
    </div>
  
  </div>
</LayoutClient>

<script>
  document.getElementById("imprimir").addEventListener("click", () => {
    print();
  });
</script>
