---
import { formatHora } from "./[idPrestamo].astro";




const {arrayBody,userId}=Astro.props


---

<tbody>
  {
    arrayBody.map((client) => {
      const horaFormateada=formatHora(client.fechaVencimiento)
      return (
        <tr id={client?.id} class="hover:bg-primary-200/20 duration-300 cursor-pointer border-b">
          <th class="border-t-0  align-middle border-l-0 capitalize border-r-0 text-xs whitespace-nowrap p-3 text-left text-primary-100 ">
            {client?.numeroCuota}
          </th>
          <th class="border-t-0 align-middle border-l-0 text-center capitalize border-r-0 text-xs whitespace-nowrap p-3 text-primary-400 ">
            {horaFormateada}
          </th>
          <td class="border-t-0  align-middle lowercase border-l-0 border-r-0 text-xs whitespace-nowrap  ">
            $ {client?.monto.toLocaleString()}
          </td>
          <td class="border-t-0 align-center text-center border-l-0 border-r-0 text-xs whitespace-nowrap ">
           <span class={`${client.estado?' bg-green-500':' bg-red-400'} capitalize text-[10px] font-thin text-white px-2 p-1 rounded-full`}>  {client?.estado?'pagado':'inpago'}</span>
           
          
          </td>
          <td class="border-t-0 text-center align-middle lowercase border-l-0 border-r-0 text-xs  ">
          tildar
          </td>
        </r>
      );
    })
  }
</tbody>
