---
import Tr from "../../../../components/atomos/Tr.astro";
import { formatHora } from "./[idPrestamo].astro";




const {arrayBody,userId}=Astro.props


---

<tbody>
  {
    arrayBody.map((client) => {
      const horaFormateada=formatHora(client.fechaVencimiento)
      return (
        <Tr id={client?.id} styleTr="hover:bg-primary-200/20 duration-300 cursor-pointer border-b">
          <th class="border-t-0 px-4 align-middle border-l-0 capitalize border-r-0 text-xs whitespace-nowrap p-3 text-left text-primary-100 ">
            {client?.numeroCuota}
          </th>
          <th class="border-t-0 px-4 align-middle border-l-0 capitalize border-r-0 text-xs whitespace-nowrap p-3 text-left text-primary-100 ">
            {horaFormateada}
          </th>
          <td class="border-t-0 px-4 align-middle lowercase border-l-0 border-r-0 text-xs whitespace-nowrap  ">
            $ {client?.monto.toLocaleString()}
          </td>
          <td class="border-t-0 px-4 align-center border-l-0 border-r-0 text-xs whitespace-nowrap ">
            {client?.estado?'pagado':'inpago'}
          </td>
          <td class="border-t-0 px-4 align-middle lowercase border-l-0 border-r-0 text-xs whitespace-nowrap  ">
          tildar
          </td>
        </Tr>
      );
    })
  }
</tbody>
