---
import Button2 from "../../../../components/atomos/Button2.astro";

---
<div class="flex items-center w- text-xs justify-evenly gap-5 py-3">
    <Button2>email</Button2>
    <Button2>whatsapp</Button2>
    <Button2>pdf</Button2>
  </div>