---
import Titulo1 from "../../../../components/atomos/Titulo1.astro";
import MainDash from "../../../../components/organismos/MainDash.astro";
import Layoutdash from "../../layouts/Layoutdash.astro";
import BotoneraFiltros from "./BotoneraFiltros.astro";
import ConfeccionTablaPrestamos from "./tablas/ConfeccionTablaPrestamos.astro";
---

<Layoutdash title="Prestamos">
  <MainDash>
    <div
      class="flex flex-col items-start justify-normal w-full px-5 py-2 relative"
    >
      <Titulo1> Prestamos </Titulo1>
      <BotoneraFiltros />
      <div class="py-5 w-full px-5">
        <ConfeccionTablaPrestamos />
      </div>
    </div>
  </MainDash>
</Layoutdash>
